/******************** MainHome.css ********************/

/* HomeVideo.css */

.video-main {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 284px 516px 282.7px 516px;
  /* background-color: rgba(217, 217, 217, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  /* overflow: hidden; */
}

.video-main video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-main h1,
.video-main h2 {
  position: relative;
  z-index: 1;
}

.video-main h1 {
  height: 176px;
  align-self: stretch;
  flex-grow: 0;
  font-family: SpoqaHanSansNeo;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.video-main h2 {
  font-size: 30px;
  font-family: Pretendard;
  text-align: left;
  color: #ff0a0a;
}

.video-stick {
  width: 32px;
  height: 4px;
  background: #fff;
  margin: 56px 0 60px 0;
}

/* HomeContents.css */

.contents-main {
  margin-top: 120px;
}

.contents-tit h2 {
  width: 100%;
  height: 57px;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.contents-tit h2 span {
  width: 100%;
  height: 57px;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.contents-tit p {
  font-size: 24px;
  font-family: Pretendard;
  padding: 40px 0 60px 0;
  width: 100%;
  /* height: 34px; */
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.contents-cont {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.contents-arr {
  padding: 0 0 0 144.5px;
}

.arr-left {
  cursor: pointer;
}

.arr-right {
  cursor: pointer;
  padding-left: 20px;
  width: 100px;
}

.arr-right-red {
  margin-left: 24px;
}

.arr-with-image {
  display: inline-flex;
  align-items: center;
}

.contents-feature-com {
  display: flex;
  justify-content: space-around;
  transition: transform 0.5s ease;
}

.contents-feature {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 0px;
  white-space: pre-line;
}

.contents-feature h2 {
  width: 100%;
  height: 43px;
  font-family: Pretendard;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contents-text {
  padding-top: 42px;

  width: 100%;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.contents-feature-com {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  transition: transform 0.5s ease;
}

.contents-feature img {
  width: 630px;
  height: 422px;
}

.stick-com {
  padding-top: 60px;
}

.stick-red {
  position: absolute;
  width: 13.5%;
  height: 4px;
  background-color: #f00;
  transition: transform 0.5s ease;
}

.stick-gray {
  width: 100%;
  height: 4px;
  justify-content: space-between;
  background-color: #e0e0e0;
  transition: transform 0.5s ease;
  max-width: 1280px;
  margin: 0 auto;
}

/******************** HomeCust.css ********************/

.cust-main {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
}

.cust-tit h2 {
  width: 100%;
  height: 60px;
  font-family: SpoqaHanSansNeo;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.cust-tit h2 span {
  width: 100%;
  height: 60px;
  font-family: SpoqaHanSansNeo;
  font-size: 48px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  font-weight: 500;
}

.cust-tit p {
  /* font-size: 23.8px; */
  padding: 40px 0 60px 0;
  width: 100%;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.cust-img-group.odd {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 160px;
  overflow: hidden;
  ul {
    position: absolute;
    display: flex;
    width: max-content;
    animation: aniScroll 30s linear infinite;
    /* 2번째 <ul> 태그에 애니메이션 넣기 */
    &.list2 {
      animation: aniScroll-2 30s linear infinite;
    }
    li {
      list-style: none;
      line-height: 100px;
      text-align: center;
      color: #fff;
    }
  }
}

/* 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 100%에서 0%으로 이동하는 애니메이션 */
@keyframes aniScroll-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.cust-img-group.even {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 160px;
  overflow: hidden;
  ul {
    position: absolute;
    display: flex;
    width: max-content;
    animation: aniScroll-even 30s linear infinite;
    /* 2번째 <ul> 태그에 애니메이션 넣기 */
    &.list2 {
      animation: aniScroll-even2 30s linear infinite;
    }
    li {
      list-style: none;
      text-align: center;
      color: #fff;
    }
  }
}

/* 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll-even {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* 100%에서 0%으로 이동하는 애니메이션 */
@keyframes aniScroll-even2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.client-1 img {
  padding-left: 20px;
  width: 300px;
  height: 150px;
}

/******************** HomeNews.css ********************/

.news-main {
  background-image: url("../../assets/images/bg_main_news.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 754px;
}

.news-feature {
  display: flex;
  padding: 100px 0 0 311.5px;
}

.news-com {
  padding-right: 94px;
}

.news-arr {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  width: 20px; /* 버튼 사이 간격 조정 */
}

.news-tit h2 {
  width: 100%;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.main-tit h2 span {
  width: 100%;
  font-family: Pretendard;
  font-size: 48px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.news-tit p {
  /* font-size: 23.8px; */
  width: 100%;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.rectangle-com {
  display: flex;
  width: 100%;
  margin: 0;
  padding-bottom: 60px;
  overflow-x: hidden; /* 가로 스크롤을 숨깁니다 */
  /* scroll-behavior: smooth; 부드러운 스크롤링 */
}

.rectangle {
  min-width: 416px; /* min-width를 사용하여 크기 고정 */
  height: 506px;
  margin: 0 20px 0 0;
  padding: 60px 43px 60px 42px;
  border-radius: 30px;
  border: solid 3px #d31f24;
  background-color: #fff;
}

.news-text-date {
  width: 100%;
  height: 34px;
  margin: 0 0 30px 3px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #da1c3e;
}

.news-text-tit {
  width: 100%;
  height: 99px;
  margin-top: 30px;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #101010;
}

.news-text-cont {
  width: 100%;
  height: 85px;
  margin: 83px 0 34px;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #101010;
}

.news-text-num {
  width: 100%;
  height: 34px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}

.news-stick-com {
  /* padding: 0 311.5px 84px 670px; */
  /* max-width: 1280px;
  margin: 0 auto; */
  max-width: 1280px;
  margin: 0 auto;
  margin-right: 311.5px;
  margin-left: 673px;
}

.news-stick-gr {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
}

.news-stick-rd {
  width: 315px;
  height: 4px;
  background-color: #d73a3e;
}

/* HomeCertifiy.css */

.certi-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 200px 0 90px;
  text-align: center;
}

.certi-tit h2 {
  width: 100%;
  height: 60px;
  font-family: SpoqaHanSansNeo;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  color: #212121;
}

.certi-tit h2 span {
  width: 100%;
  height: 60px;
  font-family: SpoqaHanSansNeo;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  color: #212121;
  font-weight: 500;
}

.certi-tit p {
  padding: 40px 0 60px 0;
  width: 100%;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.certi-list-com {
  display: flex;
  justify-content: space-between;
}

.certi-list img {
  width: 100%;
  height: 442px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 1px #bdbdbd;
}

/* .specialStyle {
  width: 310px;
  height: 450px;
  flex-grow: 0;
  margin: 60px 15px 32px 20px;
  padding: 211px 58px 215px 52px;
  border-radius: 10px;
  border: solid 1px #bdbdbd;
  background-color: rgba(0, 0, 0, 0.5);
}; */

/******************** MainCompany.css ********************/

/* Company.css */

.company-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 0;
  /* position: relative; */
  overflow: hidden;
}

/* CompanyOverview.css */

.overview-main {
  padding-bottom: 200px;
}

.overview-main p {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 300;
  margin: 40px 0 60px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.overview-cont {
  display: flex;
  list-style-type: none;
  padding-right: 167px;
  justify-content: space-between;
}

.overview-cont p {
  /* width: 110px; */
  height: 29px;
  margin-bottom: 20px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  /* font-style: normal; */
  /* line-height: normal; */
  /* letter-spacing: normal; */
  text-align: left;
  color: #bc1d22;
}

.overview-cont span {
  width: 125px;
  height: 115px;
  /* margin: 20px 308px 200px 0; */
  font-family: Pretendard;
  font-size: 96px;
  font-weight: bold;
  font-stretch: normal;
  /* font-style: normal; */
  /* line-height: normal; */
  /* letter-spacing: normal; */
  text-align: left;
  color: #212121;
}

/* CompanyGoal.css */
.goal-bg {
  background-image: url("../../assets/images/bg_company.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100%;
  height: 950px;
}

.goal-main {
  /* padding: 0 320px 0 320px; */
}
.goal-tit-1 {
  padding-bottom: 60px;
}

.goal-tit-1 h1 {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.goal-tit-1 span {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.goal-tit-1 p {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.goal-rec-com {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.goal-rec {
  width: 100%;
  height: 308px;
  margin-top: 20px;
  padding: 40px 0 40px 40px;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.goal-text-sub {
  height: 24px;
  margin-bottom: 20px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bc1d22;
}

.goal-text-tit {
  height: 43px;
  margin-bottom: 40px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.goal-text-cont {
  height: 111px;
  margin: 40px 0 0 10zpx;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}
/******************** CompanyContact.css ********************/

.contact-main {
  padding-top: 176px;
}

.contact-title h2 {
  height: 34px;
  margin-bottom: 20px;
  font-family: SpoqaHanSansNeo;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contact-section {
  display: flex;
  justify-content: space-between;
}

.map-button {
  display: flex;
  width: 450px;
  height: 60px;
  font-size: 25px;
  font-family: Pretendard;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  text-align: center;
  align-content: center;
  cursor: pointer;
  border: none; /* 버튼의 기본 테두리 제거 */
  border-radius: 10px;
}

.map-black {
  background-color: #101010;
  /* font-weight: 500; */
  padding: 13px 45px;
  flex-grow: 0;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.map-white {
  background-color: #fff;
  border: solid 1px #212121;
  /* font-weight: bold; */
  font-weight: 500;
  padding: 13px 48px 13px 42px;
  flex-grow: 0;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.contact-stick {
  width: 26px;
  height: 2px;
  margin-bottom: 40px;
  background-color: #da1c3e;
}

.contact-addr {
  display: flex;
}

.contact-text {
  font-size: 20px;
  font-family: Pretendard;
}

.contact-text p {
  height: 34px;
  margin-bottom: 40px;
  font-family: SpoqaHanSansNeo;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #101010;
}

.phoneImg,
.printerImg {
  padding: 0 16px 0 0;
}

.contact-img {
  display: flex;
  padding-bottom: 40px;
  margin-left: auto;
}

.contact-img p {
  font-family: SpoqaHanSansNeo;
  height: 34px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contact-img img {
  vertical-align: middle;
  padding-right: 16px;
}

.printerImg {
  padding-left: 40px;
}

.map {
  width: 100%;
  height: 500px;
  justify-content: center;
  border-style: solid;
  border-width: 0px;
}

/* CompanyHistory.css */

.company-img {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  background-image: url("../../assets/images/top01.png");
  background-color: rgba(217, 217, 217, 0.5);
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
}

.company-title h1 {
  padding-bottom: 60px;
  width: 100%;
  height: 57px;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.company-content p {
  height: 80px;
  margin: 0 487px 40px 0;
  font-size: 64px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.company-com-1 {
  padding: 0 0 22px 7px;
}

.company-com-2 {
  padding-bottom: 22px;
}

.company-num {
  font-size: 18px;
  font-family: Pretendard;
  padding-right: 16px;
  font-weight: bold;
  color: #bc1d22;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.company-num-inside {
  font-weight: bold;
}

.company-text,
.company-text-inside {
  font-size: 18px;
  font-family: Pretendard;
  color: #424242;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.company-text-inside {
  font-weight: normal;
}

.company-s {
  margin-bottom: 12px;
  white-space: pre-line;
}

.company-s .company-text-inside {
  padding: 0 0 0 25px;
}

.timeline-container {
  display: flex;
  align-items: flex-start;
  position: relative; /* 타임라인 컨테이너를 기준으로 위치 설정 */
}

.timeline-items,
.timeline-items2 {
  display: flex;
  flex-direction: column;
}

.timeline-items2 {
  padding-left: 78px; /* 기존 padding 유지 */
}

/* 중간의 선을 위한 스타일 */
.line-long {
  position: absolute;
  left: 50%;
  margin-top: 60px;
  width: 2px;
  height: 100%;
  height: calc(100% - 60px);
  background-color: #cdcdcd;
}

/* 각 타임라인 항목의 스타일 */
.line-dot-1 {
  width: 100%;
  height: 1px;
  margin: 60px 0 59px;
  border: 1px dashed #fff;
  background-color: #e3e3e3;
}

.line-dot-2 {
  width: 100%;
  height: 1px;
  margin: 60px 0 59px -78px;
  border: 1px dashed #fff;
  background-color: #e3e3e3;
}

/******************** MainSolution.css ********************/

.solution-bg {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  background-image: url("../../assets/images/top02.png");
  background-color: rgba(217, 217, 217, 0.5);
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SolutionService.css */

.solu-main {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 150px 320px 60px 320px; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 150px 0 60px;
}

.solu-com {
  justify-content: space-between;
}

.solu-text {
  width: 510px;
  /* width: 100%; */
  word-wrap: break-word;
  /* padding-right: 104px; */
}

.solu-text-tit {
  /* height: 45px; */
  width: 100%;
  margin-bottom: 40px;
  align-self: stretch;
  font-family: SpoqaHanSansNeo;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: left; */
  color: #212121;
}

.solu-text-link {
  /* font-size: 28px; */
  padding-top: 31.5px;
}

.solu-text-link p {
  flex-grow: 0;
  display: inline-flex;
  align-items: center;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #bc1d22;
  cursor: pointer;
}

.solu-text-link span {
  flex-grow: 0;
  font-family: SpoqaHanSansNeo;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}

.solu-text-cont {
  width: 100%;
  /* height: 100px; */
  align-self: stretch;
  margin-bottom: -42.5px;
  font-family: SpoqaHanSansNeo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-bottom: 31.5px;
  /* text-align: left; */
  color: #212121;
}

.solu-img {
  width: 100%;
  height: 374%;
  object-fit: contain;
  border-radius: 8px;
}

.solu-text-num {
  width: 100%;
  /* height: 24px; */
  margin-bottom: 80px;
  font-family: SpoqaHanSansNeo;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: left; */
  color: #bc1d22;
}

.solu-rect {
  display: flex;
  padding-bottom: 140px;
  justify-content: space-between;
}

.solu-img-R {
  /* padding-right: 100px; */
}

.solu-img-L {
  /* padding-left: 100px; */
}

.text-left .solu-text-L {
  order: 1; /* 텍스트를 왼쪽에 배치 */
}

.text-left .solu-img-L {
  order: 2; /* 이미지를 오른쪽에 배치 */
}

.text-right .solu-text-R {
  order: 2; /* 텍스트를 오른쪽에 배치 */
  text-align: right;
}

.text-right .solu-img-R {
  order: 1; /* 이미지를 왼쪽에 배치 */
}

/******************** MainNotice.css ********************/

.notice-main {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 0 60px;
}

.notice-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.notice-bg {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  background-image: url("../../assets/images/top03.png");
  background-color: rgba(217, 217, 217, 0.5);
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
}

.notice-tit-1 {
  padding-bottom: 60px;
}

.notice-tit-1 h1 {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 300;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.notice-tit-1 span {
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.notice-tit-1 p {
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 300;
  padding-top: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.notice-rect-1,
.notice-rect-2 {
  display: flex;
  /* flex-wrap: wrap; 요소들이 줄 바꿈할 수 있도록 설정 */
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

.notice-rect {
  flex: 1 1 calc(33% - 30px); /* 3개의 열을 만들고, 여백을 고려한 너비 설정 */
  max-width: 416px;
  /* max-height: 506px; */
  /* min-width: 250px; */
  /* width: 100%; */
  /* height: auto; */
  margin: 0 15px 60px 0;
  padding: 50px 35px 50px 35px;
  border-radius: 30px;
  border: solid 3px #d31f24;
  background-color: #fff;
}

/* .news-text-date {
  width: 100%;
  height: 34px;
  margin: 0 0 30px 3px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #da1c3e;
}

.news-text-tit {
  width: 100%;
  height: 99px;
  margin-top: 30px;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #101010;
}

.news-text-cont {
  width: 100%;
  height: 85px; 이거 늘리면 num 여백 생김
  margin: 83px 0 34px;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #101010;
}

.news-text-num {
  width: 100%;
  height: 34px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
} */

/******************** MainContactUs.css ********************/

.contactus-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 0;
}

.contactus-tit h1 {
  font-size: 48px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contactus-img {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  background-image: url("../../assets/images/top04.png");
  background-color: rgba(217, 217, 217, 0.5);
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactus-con {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0 60px 0;
}

.contactus-con > div {
  flex: 1 1 45%;
}

.contactus-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactus-tit-2 {
  font-size: 16px;
  font-family: Pretendard;
  color: #9e9e9e;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9e9e9e;
}

.contactus-tit-3 {
  font-size: 20px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contactus-tit-4 {
  font-size: 28px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}

.contactus-st {
  font-family: Pretendard;
  color: #eb5757;
}

.contactus-box {
  width: 100%;
  height: 60px;
  margin: 20px 0;
  padding: 20px 18px;
  border-radius: 4px;
  font-size: 18px;
  font-family: Pretendard;
  border: solid 1px #eee;
  background-color: #fff;
}

.contactus-text {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 20px 20px 156px 20px;
  border-radius: 10px;
  border: solid 1px #eee;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Pretendard;
  line-height: 1.5;
  resize: none;
  overflow-y: hidden;
}

.contactus-button {
  display: flex;
  justify-content: flex-end;
}

.button-sub {
  width: 176px;
  height: 54px;
  background-color: #101010;
  font-size: 20px;
  font-weight: bold;
  flex-grow: 0;
  font-family: SpoqaHanSansNeo;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.contactus-agree {
  width: 100%;
  margin: 20px 0 28px 0;
  padding: 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.agree-cont {
  font-size: 20px;
  font-family: Pretendard;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
  padding-bottom: 20px;
}

.contactus-agree span {
  font-size: 20px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.contactus-check {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  width: 400px;
}

.contactus-check p {
  font-size: 20px;
  font-family: Pretendard;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #424242;
}

.check-circle-Gr {
  margin-right: 23.3px;
  cursor: pointer;
}

/******************** MainContactUs.css ********************/
/******************** MainContactUs.css ********************/
/******************** MainContactUs.css ********************/
/******************** MainContactUs.css ********************/
/******************** MainContactUs.css ********************/
/******************** MainContactUs.css ********************/
